<div class="row align-items-center header">
    <div class="col-md-auto">
        <h3>ToolCat</h3>
    </div>
    <div class="col-md-auto">
        <ul class="nav nav-pills">
            <li class="nav-item nav-item-width">
                <a class="nav-link" routerLink="home">主页</a>
            </li>
            <li class="nav-item nav-item-width">
                <a class="nav-link" routerLink="about">关于</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <router-outlet></router-outlet>
</div>