<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a routerLink="uuid" class="list-group-item list-group-item-action">生成 UUID</a>
            <a routerLink="encryption" class="list-group-item list-group-item-action">加密与解密</a>
            <a routerLink="qr" class="list-group-item list-group-item-action">二维码/条形码</a>
            <a routerLink="time" class="list-group-item list-group-item-action">时间格式</a>
            <a routerLink="pdf" class="list-group-item list-group-item-action">PDF文件转换</a>
            <a routerLink="thumbnail" class="list-group-item list-group-item-action">生成缩略图</a>
        </div>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
</div>